#root {
    max-width: 1280px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
body{
    width: 100%;
}
.app-box{
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 6px;
}
.profile{
    display: grid;
    grid-template-areas: 
    "empty avatar edit";
    grid-template-columns: 1fr 1fr 1fr;

}
h3{
    font-weight: 600;
    font-size: 13px;
}
h2{
    font-weight: 700;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}