#root {
  max-width: 1280px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.img-container{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.smith {
  position: absolute;
  bottom: -15%;
  transform: rotate(-1.25deg) scale(1.3);
  opacity: 0.6;
  mask-image: linear-gradient(to bottom, 
    rgba(0, 0, 0, 1) 0%,   /* 0% a 50%: total visible */
    rgba(0, 0, 0, 1) 50%,  /* 50% a 75%: visible */
    rgba(0, 0, 0, 0) 75%   /* 75% a 100%: transparente */
  );
  mask-size: cover;
}
